/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fonts */

@layer base {
  /* @font-face {
    font-family: 'Archivo';
    src: url('./fonts/ArchivoBlack-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  } */

  @font-face {
    font-family: 'CabinetGrotesk';
    src: url('./fonts/CabinetGrotesk-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'STIXGeneral';
    src: url('./fonts/STIXGeneral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* @font-face {
    font-family: 'DMSerif';
    src: url('./fonts/DMSerifDisplay-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  } */

  /* @font-face {
    font-family: 'Rubik';
    src: url('./fonts/RubikBubbles-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  } */

  @font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Variable.ttf') format('truetype'),
      url('./fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal, italic;
  }

  /* @font-face {
    font-family: 'Whisper';
    src: url('./fonts/Whisper-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  } */
}

p {
  font-family: 'Helvetica';
  font-size: 1rem;
}

h1 {
  font-family: 'STIXGeneral';
  font-size: 2.986rem;
}

h2 {
  font-family: 'STIXGeneral';
  font-size: 2.488rem;
}

h3 {
  font-family: 'STIXGeneral';
  font-size: 2.074rem;
}

h4 {
  font-family: 'STIXGeneral';
  font-size: 1.728rem;
}

h5 {
  font-family: 'STIXGeneral';
  font-size: 1.44rem;
}

h6 {
  font-family: 'STIXGeneral';
  font-size: 1.2rem;
}

#intro-name {
  font-size: 160px;
  letter-spacing: -15px;
  font-family: 'Baskerville';
  color: #294126;
}

.grey {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#landing-name-bottom-border::after {
  content: "";
  position: absolute;
  bottom: 28%;
  left: -5%;
  transform: translate(5%);
  width: 85%; /* Adjust this value to control the width of the border */
  height: 1px; /* Adjust this value to control the thickness of the border */
  background-color: #294126; /* Adjust the color of the border as needed */
}

#landing-star-svg {
  transform: translateY(220%);
  margin-right: 8px;
}

#image-row-empty-border::before {
  content: '';
  position: absolute;
  left: calc(100vw - 25%);
  width: 1px;
  height: 130%;
  transform: translateY(-20%);
  background-color: #294126;
}

#action-row-top-border::before {
  content: '';
  position: absolute;
  left: calc(100vw - 25%);
  width: 40%;
  height: 1px;
  background-color: #294126;
  transform: translateX(-68%);
}

#image-row-right-border img {
  position: absolute;
  z-index: 2;
}

#image-row-right-border {
  overflow: hidden;
  position: relative;
}

#monstera-img {
  width: 650px;
  height: auto;
  left: 10px;
  top: 15px;
}

#terrace-img {
  width: 250px;
  height: auto;
  margin-left: 10px;
  transform: translateY(-16%);
}

#water-img {
  filter: grayscale(100%);
  width: 250px;
  height: auto;
  z-index: 3;
  left: 630px;
  top: 75px;
  margin-right: 8px;
}

#butterfly-img {
  width: 150px;
  height: auto;
  z-index: 3;
  right: 30px;
  bottom: 150px;
}

#curated {
  font-size: 50px;
  transform: translateY(-60%);
}

#circle-svg {
  margin-right: 8px;
}